body{
    background-color: #151515;
    background-size: 100%;
    font-family: Salsa BT, sans-serif;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 900px;
}

.top{
    position: relative;
    margin-top: 1%;
}

h1{
    color: #76D66A;
    font-size: 50px;
    display: inline-block;
    transform: rotate(-9deg);
    position:absolute;
    bottom:130px;
}
.jasImg{
    width: 380px;
    display: inline-block;
    margin-left: -40px;
    margin-top: -70px;
}

a{
    text-decoration:none;
    color: white;
}

.options{
    /*border: solid;
    border-color: #76D66A;*/
    position: relative;
    margin-top: -100px;
    height: 590px;
}
.workOption{
    width: 0px;
    height: 0px;
    border-top: 200px solid transparent;
    border-right: 1600px solid #F49B43;
    border-bottom: 200px solid transparent;
    left:-60px;
    top: -150px;
    position: absolute;
    z-index: 1;
}
.workName{
    position: absolute;
    left: 1150px;
    top:-120px;
    font-size: 50px;
    z-index: 2;
}

.aboutOption{
    width: 0px;
    height: 0px;
    border-top: 200px solid transparent;
    border-left: 1600px solid #F45743;
    border-bottom: 200px solid transparent;
    left:-60px;
    top: 45px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.aboutName{
    position: absolute;
    left: -1500px;
    top:-100px;
    font-size: 50px;
    z-index: 2;
}

.contactOption{
    width: 0px;
    height: 0px;
    border-top: 200px solid transparent;
    border-right: 1600px solid #973EFF;
    border-bottom: 200px solid transparent;
    left:-60px;
    top: 240px;
    position: absolute;
    bottom:0;
    z-index: 1;
}
.contactName{
    position: absolute;
    left: 1150px;
    top: -100px;
    font-size: 50px;
    z-index: 2;
}



a:hover{
    color: #76D66A;
    font-size: 80px;
    text-shadow: -5px 5px 3px  #696969;
}


@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
.jasImg{
    animation: 1.3s ease-out 0s 1 slideInFromTop;
}

@keyframes slide {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  a{
    animation: 1.3s ease-out 0s 1 slide;
}


@media (max-width: 1400px){

    .workName{
        left: 950px;
    }

    .contactName{
        left: 950px;
    }

}



@media (max-width: 1100px){

    .workName{
        left: 750px;
    }

    .contactName{
        left: 750px;
    }
}

@media (max-width: 900px){

    .workName{
        left: 550px;
    }

    .contactName{
        left: 550px;
    }
}

@media (max-width: 800px){

    .workName{
        left: 450px;
    }

    .contactName{
        left: 450px;
    }
}