@font-face { font-family: Salsa BT; src: url("../fonts/9300_SalsaBT_Regular.otf") } 
@font-face { font-family: Afronik; src: url("../fonts/Afronik.otf") } 

html{
    width: 100%;
}
body{
    background-color: #151515;
    background-size: 100%;
    font-family: Salsa BT, sans-serif;
    color: white;
    min-width: 900px;
}

.top{
    position: relative;
    margin-top: 20%;
}

h1{
    color: #76D66A;
    font-size: 60px;
    display: inline-block;
    transform: rotate(11deg);
    position:absolute;
    bottom:50px;
    z-index: 2;
}
.jasImg{
    width: 380px;
    display: inline-block;
    margin-left: -40px;
    margin-top: -70px;
    z-index: 2;
}

a{
    text-decoration:none;
    color: white;
}

.options{
    /*border: solid;
    border-color: #76D66A;*/
    position: relative;
    margin-top: -100px;
    height: 590px;
}

.menuImg{
    width:100%;
    z-index: 1;
    height: 150%;
    position: relative;
}

.workName{
    font-size: 50px;
    z-index: 2;
    padding-left: 5%;
    position: absolute;
    top: -20px;
}


.aboutName{
    position: absolute;
    right: 5%;
    font-size: 50px;
    z-index: 2;
   top: 200px;
}

.contactName{
    font-size: 50px;
    z-index: 2;
    padding-top: 160px;
    padding-left: 5%;
    position: absolute;
    top: 400px;
}



a:hover{
    color: #76D66A;
    font-size: 80px;
    text-shadow: -5px 5px 3px  #696969;
}


@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
.jasImg{
    animation: 1.3s ease-out 0s 1 slideInFromTop;
}

@keyframes slide {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  a{
    animation: 1.3s ease-out 0s 1 slide;
}


@media (min-width: 700px){
    .top{
        margin-top: 10%;
    }

    .workName{
        top: 100px;
    }

    .aboutName{
        top: 300px;
    }

    .contactName{
        top: 370px;
    }
}

@media (min-width: 1200px){
    .top{
        margin-top: 0%;
    }

    .menuImg{
        height: 110%;
    }

    .workName{
        top: 50px;
    }

    .aboutName{
        top: 200px;
    }

    .contactName{
        top: 200px;
    }
}

